body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  caret-color: #74c5f3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.plusBtn {
  position: absolute;
  bottom: 24px;
  left: 614px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.plusBtn .cls-1 {
  fill: url(#radial-gradient);
}

.plusBtn .cls-2 {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 3px;
}

.plusBtn .cls-3 {
  filter: url(#Ellipse_1);
}

.buttonMenu {
  position: absolute;
  bottom: 60px;
  left: 544px;
  width: 81px;
  height: 39px;
  cursor: pointer;
}

.buttonMenu .cls-1 {
  fill: #374267;
  stroke: #374267;
  stroke-width: 10px;
}

.buttonMenu .cls-1,
.cls-3,
.cls-4 {
  stroke-linecap: round;
}

.buttonMenu .cls-1,
.cls-4 {
  stroke-linejoin: round;
}

.buttonMenu .cls-2 {
  opacity: 0.72;
}

.buttonMenu .cls-3,
.cls-4 {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
}

.buttonMenu .cls-5 {
  filter: url(#Vereinigungsmenge_2);
}

.lds-ellipsis {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
